:root {
    --background:      #000;
    --color:           #fff;
    --inv-background:  #fff;
    --inv-color:       #000;
    --highlight-light: #4c4;
    --highlight:       #080;
    --highlight-dark:  #060;
    --highlight-color: #fff;
}

@font-face {
    font-family: "8-bit";
    src: url("/fonts/quadradigger-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "8-bit";
    src: url("/fonts/quadradigger-bold.ttf");
    font-weight: bold;
}

body {
    background:  var(--background);
    color:       var(--color);
    font-family: "8-bit";
    font-size:   8pt;
}
::selection {
    background: var(--highlight);
    color: var(--highlight-color);
}

h5, .h5 { font-size: 10.00pt; }
h4, .h4 { font-size: 12.00pt; }
h3, .h3 { font-size: 14.00pt; }
h2, .h2 { font-size: 16.00pt; }
h1, .h1 { font-size: 18.00pt; }

h2, .h2 {
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}

body header, body content, body footer {
    display: block;
    width: 100%;
}
body content {
    background: var(--inv-background);
    color:      var(--inv-color);
}
body content .container
    { padding: 15px; }
body content .container:before
    { content: none; }
body content .container :first-child
    { margin-top: 0 !important; }
body content .container :last-child
    { margin-bottom: 0 !important; }

body header
    { padding: 15px 0 15px 0; }
body footer
    { padding: 15px 15px 0 15px; }
#qrCode
    { margin: 15px; }
ul
    { list-style: square; }

.app-nav {
    display: table;
    width: 100%;
}
.app-nav .app-nav-brand {
    display: table-cell;
    width: 1px;
    vertical-align: middle;
}
.app-nav .app-nav-items {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.app-nav .app-nav-items .app-nav-items-inner {
    display: table;
    width: 100%;
}

.app-nav .app-nav-items .app-nav-left
    { text-align: left; }
.app-nav .app-nav-items .app-nav-right
    { text-align: right; }

.app-nav .app-nav-items-inner>form,
.app-nav .app-nav-items-inner>ul {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    padding-top: 4px;
}
.app-nav .app-nav-items-inner form>ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.app-nav .app-nav-items ul li {
    margin: 0 6px 0 6px;
    display: inline-block;
    white-space: nowrap;
}

.app-nav a, .app-nav .btn-link {
    color: var(--color) !important;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    border: none;
}
.app-nav .app-nav-brand a {
    font-size: 22px;
    line-height: 22px;
    padding: 0 12px 0 0;
    white-space: nowrap;
}

a:before, .btn-link:before {
    display: inline-block;
    content: ">";
    opacity: 0.25;
    margin-right: 2px;
}
a, .btn-link {
    color: var(--highlight);
    opacity: 0.75;
}
a:hover, .btn-link:hover {
    color: var(--highlight);
    text-decoration: none !important;
    opacity: 1.00;
}
a:hover:before, .btn-link:hover:before {
    content: ">";
    opacity: 1.00;
}
a:focus, .btn-link:focus {
    color: var(--highlight-dark);
    border-color: var(--highlight);
    outline-color: var(--highlight);
    opacity: 1.00;
    text-decoration: none;
}

.nav-pills > li.active > a
    { background-color: var(--highlight); }
.nav-pills > li.active > a:hover
    { background-color: var(--highlight-dark); }
.nav-pills > li.active > a:focus
    { background-color: var(--highlight-light); }
.form-control:focus
    { border-color: var(--highlight); }

table {
    margin-bottom: 8px;
    border-collapse: collapse;
}

table tr th,
table tr td {
    border: 1px #888 solid;
    padding: 4px 8px;
}
table tr th {
    background: #e0e0e0;
}
table tr td {
    background: #f8f8f8;
}

#view-map-tiles {
    display: inline-block;
    border: 1px solid #888;
    padding: 8px;
    background: #f8f8f8;
    white-space: nowrap;
    overflow: auto;
    max-width: 100%;
    max-height: calc(100vh - 20px);
}

#view-map-tiles p {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 3px;
}

.validation-summary-errors ul {
    padding: 0 0 16px 0;
    margin: 0;
}
