<div class="container">
    <div class="app-nav">
        <div class="app-nav-brand">
            <a asp-area="" asp-controller="Home" asp-action="Index">Dragon Adventure</a>
        </div>
        <div class="app-nav-items">
        <div class="app-nav-items-inner">
            <ul class="app-nav-left">
                @if (User.Identity.IsAuthenticated) {
                    <li><a asp-area="" asp-controller="Game" asp-action="Manage">Play</a></li>
                    <li><a asp-area="" asp-controller="Map" asp-action="ViewAll">Maps</a></li>
                }
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        </div>
    </div>
</div>
